$primary-color: #177ddc;

@tailwind base;

@layer bsae {
    a {
        all: revert;
        color: $primary-color;
    }
}

@tailwind components;
@tailwind utilities;

svg {
    vertical-align: baseline !important;
}

@import './mixins.scss';
@import './navbar.styles.scss';
